.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* my styles */
.labelFont{
  font-size: large;
  
}

.divWidth{
  width:max-content
}
.inputBorder{
  border-width: thick;
}

/* Account Page style */
.divPadding{
  padding-top: 2%
}

.bookingButtonclr{
  background-color: #00803a
}

.img{
  width: 600px;
  height: 450px;
}
.span{
  color:orange
}

/* History page css */
.histroy{
  border: "1px solid #ccc";
    border-radius: "4px";
    padding: "10px";
    margin: "10px";
    background-color: "#f8f8f8";
    box-shadow: "0 2px 4px rgba(0, 0, 0, 0.1)";
}

/* Loding css */
.loading-spinner {
  position:relative;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
